* {
    box-sizing: border-box;
    margin: 0px;
  }
  
 
  #root {
    max-width: 1200px;
    margin: 0 auto;
  }
   .header{
    display: flex;
    background-color:  #85CDF5;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
 
  .logo{
    display: flex;
    background-color:  #85CDF5;
    justify-content: center;
  }
  
  img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
  }
  .link-header{
    text-decoration: none;
    color:  #333333;
    font-weight: bolder;
    display: flex;
    margin: 0 221px;
  }
  .link-header:hover{
    text-decoration: underline;
  }
  p {
    padding: 0 2rem 2rem;
    margin: 0;
  }
 .quem-somos{
  display: block;
  align-items: center;
  justify-content: space-around;
 }
.title{
    margin: 50px 550px 0px 550px;
}
.descrição{
  padding: 100px;
 margin: 0px 300px 0px 300px;
 font-size: 1.3em;
 font-family: Darker Grotesque;
}
  footer{
    background-color: #333333;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    height: 270px;
  }
  .gmap-canvas{
    display: flex;
    width: 100px;
    height: 200px;
    margin-left: 100px;
  }
  .img-contato{
    display: block;
    padding: 10px;
    margin-left: 250px;
    margin-top: 5px;

  }
  .texto-patinha{
    color: #FFFFFF;
    font-size: 0.7em;
    display: block;
  }
   .texto-img{
    color: #FFFFFF;
    font-size: 0.7em;
    display: block;
    margin-top: 45px;
   }
  .texto{
    display: block;
    margin-right: 200px;
  }
  .patinha{
    display: block;
    margin-right: 0px;
  }
  .link-footer{
    background: #DEB959;
    text-decoration: none;
    color: #333333;
    font-weight: bolder;
    padding: 2px;
  }

  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }
  
  .card:nth-child(2n) h1 {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  }
  
  .card:nth-child(4n) h1 {
    background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
  }
  
  .card:nth-child(5n) h1 {
    background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
  }